@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Electronic Medical Records</h1>
    <p class="lead">Access medical records electronically from anywhere. Everywhere.</p>
    <p><a href="/Patients" class="btn btn-primary btn-lg">View Records &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p><a class="btn btn-default" href=""> &raquo;</a></p>
    </div>
</div>*@