
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Appointments</h2>

<h4>No Appointments to Show.</h4>
<p>
    @Html.ActionLink("Add Appointment", "Create")
</p>
